@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@keyframes revealImage {
  0% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes revealImage2 {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

/* - Weights: 600, 700 */
@theme {
  /* ### Neutral */
  --color-Navy-dark-text: #3B4363;
  --color-Blue-score-text: #2A46C0;
  --color-Gray-header-outline: #565468;
   --animate-reveal1: revealImage ease-in forwards;
   --animate-reveal2: revealImage2 2s ease-in ;
   --breakpoint-xxl: 90rem;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: linear-gradient(90deg, #1F3756, #141539)
}

#icon1 {
  position: relative;
  left: -7em;
  top: -2em;
}

#icon2 {
  position: relative;
  left: 7em;
  top: -8em;
}

#icon3 {
  position: relative;
  left: 0;
  top: -1.5em;
}



#levelIcon1 {
  position: relative;
  left: 0;
  top: 4.5em;
}

#levelIcon2 {
  position: relative;
  left: -8em;
  top: 4.5em;
}


#levelIcon3 {
  position: relative;
  left: 9em;
  top: -1em;
}

#levelIcon4 {
  position: relative;
  left: -5em;
  top: 2em;
}

#levelIcon5 {
  position: relative;
  left: 5em;
  top: -4em;
}


.board #levelIcon1, .board #levelIcon2, .board #levelIcon3,.board #levelIcon4, .board #levelIcon5  {
  position: relative;
  top:0 ;
  left:0 ;
}

.board #icon1, .board #icon2, .board #icon3  {
  position: relative;
  top:0 ;
  left:0 ;
}